<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,183,0.1) 100%, rgba(0,30,100,0.4) 53%), url(<%= image_path "background.jpg"%>);">
  <div class="banner-content">
    <h1>AirBnB</h1>
    <p>Find the best place to stay</p>
    <a class="btn btn-primary btn-lg">Search for houses</a>
  </div>
</div>

<ul>
<% @flats.each do |flat| %>
  <li>
   <h2>
    <%= link_to flat.name, flat_path(flat) %>
   </h2>
   <p>
    <%= flat.description %>
   </p>
   <p>
    <%= flat.location %>
   </p>
   <p>
    <%= flat.price %>
   </p>
   <p>
    <%= link_to "edit flat", edit_flat_path(flat) %>
   </p>
  </li>
<% end %>
</ul>
