<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,100,183,0.1) 100%, rgba(0,30,100,0.4) 53%), url(<%= image_path "background.jpg"%>);">
</div>


<div class="warapper-main">
  <div class="wrapper-description-book">


    <div id="info-flat">
     <!--  <div class = "title-flat"> -->
      <div class= "title-info">
        <h1>
        <%= @flat.name %>
        </h1>
        <% avatar_url = @flat.user.facebook_picture_url || "http://placehold.it/30x30"%>
        <%= image_tag avatar_url, class: "info-avatar" %> <%= @flat.user.first_name %>

      </div>
      <h5>
        <%= @flat.location %>
      </h5>
      <div class = "icon-info">
        <i class="fa fa-bath" aria-hidden="true"><strong>1 bath</strong></i>
        <i class="fa fa-bed" aria-hidden="true"> <strong> 2 beds </strong></i>
        <i class="fa fa-users" aria-hidden="true"><strong>3 people</strong></i>
      </div>

      <h5>
        <%= @flat.description %>
      </h5>
    </div>


    <div class="book-flat">
      <p>
        <%= @flat.price %>€ per night
      </p>
      <%= simple_form_for [@flat, @booking], input_html: { id: "flat-form"} do |f| %>
        <%= f.input :start_date, as: :date, html5: true  %>
        <%= f.input :end_date, as: :date, html5: true  %>
        <%= f.input :description %>
          <div id="total-price">
          </div>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% #(start_date..end_date).to_a.size  %>

      <% end %>

    </div>

    <script>
      const form = document.getElementById('new_booking');
      const displayResult = document.getElementById("total-price");

      form.addEventListener("change", function(event) {
        let start = document.getElementById('booking_start_date').value;
        let end = document.getElementById('booking_end_date').value;

          let dateStart = new Date(start);
          let dateEnd = new Date(end);
          let timeDiff = Math.abs(dateEnd.getTime() - dateStart.getTime());
          let diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

          console.log(diffDays);
          const reg = /^\d+$/;
          if (Number.isInteger(diffDays)) {
            console.log('diff days is right');
            let totalPrice = diffDays * <%= @flat.price %>;
            displayResult.insertAdjacentHTML("beforeend", 'Total price: ' + totalPrice + '€');
          }

       });
    </script>
  </div>
</div>
