
  <div class="container" id="sign-in-container">
    <div class="form-content">
    <button class="close-modal" onClick="toggleModal()">X</button>
        <h2>Sign in</h2>
        <%= form_for(:registration, :url => session_path(:registration)) do |f| %>
          <%= f.text_field :email, placeholder: "ollie.awesome@gmail.com" %>
          <%= f.password_field :password,  placeholder: "My_Hero(L)" %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Sign in', class: "btn-airbnb-2" %>
          <%= link_to "Forgot your password?", new_password_path(:registration), :class => 'links_form'%>
        <% end %>
        <div class="form-link">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>

