<%= content_for(:no_nav) do %>
  <p></p>
<% end %>

<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0,100,183,0.1) 100%, rgba(0,30,100,0.4) 53%), url(<%= image_path "greece.jpg"%>);">
  <div class="banner-content">
    <h1>AirBnB</h1>
    <p>Book unique flats and experience the city like a local</p>

    <%= form_tag("/flats", method: "get") do %>
      <%= label_tag(:search, "Search for:") %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    <% end %>
    <%#  link_to "Search for houses", flats_path, class: "btn-airbnb-pink" %>
  </div>
</div>
